@page "/"
@namespace MisterMagooGoesToPerfTown.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mister Magoo Goes To Perf Town</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <script>
        window.mystuff = {
            getwidth: function () {
                return window.visualViewport.width;
            }
        };
    </script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
